body {
  background-color:  #5d5856; /*#464240;/*#282c34;*/
}

.navbar {
  position: sticky;
  top: 0;
}
.content-section {
  padding-top: 2em;
  margin: 2em auto auto auto;
  background: white;
  color:#5d5856;
  text-align: left;
  font-size: 15px;
  height: auto;
  width: 90%;
  box-shadow: 0px 0px 5px 5px #ffffff;  
  overflow:auto;
}

.content-section h1 {
  text-align: center;
  color: #353231;
  font-size: 3em;
}

.content-section h2 {
  text-align: center;
  color: #353231;
}


