
 .splash {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../images/holdingnewspaper2.jpg);
    background-size: cover; 
}

.login-form {
    background-color: #464240; /*#282c34;  #f2efef;*/
    color: #f2efef;/* #282c34;  #595959;*/
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 225px;
    text-align: center;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0px 0px 10px 10px #464240;
}

.form-control {
    width:75%;
    margin: 1em auto 1em auto;
    padding: 1em;

}