table {
  color:#595959;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3F5941;
    color: white;
};

.td1 {
    margin: 2px;
    text-align: center;
}

td a {
  color: #3F5941;
}

table tr:nth-child(even){background-color: #e6e6e6;}
